//normalization
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
//params
$color__accent: #3F51B5;
$color__text: #1A237E;
$color__text--negative: #C5CAE9;
$color__bg: #7F818C;
$color__bg--panel: #E8EAF6;
$color__line: #888;
$borderRadius: 3px; //common
$padding: 7px 11px;
body {
  background-color: $color__bg;
  font-family: Helvetica, Arial, sans-serif;
  color: $color__text;
  font-size: 14px;
}
#header {
  margin-bottom: 30px;
  #logo {
    width: 300px;
  }
}
//service
.container {
  max-width: 800px;
  margin: 0 auto;
}
//features
.status__overall {
  color: $color__text--negative;
  background-color: $color__accent;
  border-radius: $borderRadius;
  padding: $padding;
}
.status__wrapper {}
.breakdown__item {
  background-color: $color__bg--panel;
  display: flex;
  align-items: center;
  &:not(:first-child) {
    border-top: 1px solid $color__accent;
  }
  .col1 {
    flex: 1 1 auto;
  }
  .col1,
  .col2 {
    padding: $padding;
  }
  .item__locations {
    display: flex;
    margin: 5px -5px;
    .item__location {
      color: $color__text--negative;
      list-style: none;
      margin: 5px;
      padding: $padding;
      font-size: 0.9em;
      border-radius: $borderRadius;
      background-color: $color__accent;
    }
  }
}
